.App {
  text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 5%;
    margin-right: 5%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.artistName{  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 60%;
  background-color: white;
  color: #0074df;
  font-size:  26px;

}


.albumName{  
  margin-bottom: 3%;
  width: 80%;
  background-color: white;
  color: #0074df;
  font-size:  26px;
}

.songName{  
  margin-bottom: 3%;
  width: 80%;
  background-color: white;
  color: #0074df;
  font-size:  26px;
}


.header {

  text-align:center !important;
  margin: auto;
  margin-top:20px;
  width: 90%;
  padding: 10px;
  font-size:  26px;
  display:inline-block;

}

.bodyBox{

  background-color: #C4C4C4;
  position:absolute;
  width: 90%;
  height: 80%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  text-align:center;
}

.artistBodyBox{

  background-color: white;
  position:absolute;
  width: 90%;
  height: 80%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  text-align:center;
  padding: 20px;

}

#back{

  margin-left:3%;
  margin-right:50%;
}

.albums{
  background-color: #C4C4C4;
  width: 30%;
  height: 90%;
  float: left;
  padding: 20px;
  text-align:center;
}

.songs{
  background-color: #C4C4C4;
  width: 57%;
  height: 90%;
  float: right;
  padding: 20px;
  margin-right: 3%;
  list-style:none;
}

#signOut {

  float:right;

}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  margin-left:50px;
}

input{

  width: 200px;
  height: 30px;
}

.App-header {
  background-color: #C4C4C4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#usernameBackground {

  background-color: #FFFFFF;

}

#usernameDisplay {

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  color: #000000
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
